# Node.js
node_modules/
dist/
pnpm-lock.yaml

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*

# VSCode
.vscode/

# TypeScript
*.tsbuildinfo

# NX / monorepo tooling
.nx/
.cache/
.nuxt/
coverage/